<!--
                            _         
  ___    __ _   _ __     __| |  _   _ 
 / __|  / _` | | '_ \   / _` | | | | |
| (__  | (_| | | | | | | (_| | | |_| |
 \___|  \__,_| |_| |_|  \__,_|  \__, |
                                |___/ 
-->        
<title>m u n d o</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <div class="container">
    <div class="row">
        <h3 class="center-align">g i n t a m a</h3>
	
        <div class="col s12 l6 offset-l3">

        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Rig</th>
                    <th>Hashrate</th>
                    <th>Average time</th>
                    <th>Uptime</th>
                </tr>
            </thead>

            <tbody>
        {% for x, y in dict_rig.items() %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ y["hashrate"] }}</td>
                    <td>{{ y["avg_time"] }}</td>
                    <td>{{ y["uptime"] }}</td>
                </tr>            
        {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
    </div>
